@wrap-width: 800px;

.radius(@radius) {
    -webkit-border-radius: @radius;
    border-radius: @radius;
}

.box-shadow() {
    -webkit-box-shadow:  1px 1px 4px 0 #000;
    box-shadow:  1px 1px 4px 0 #000;
}

.text-shadow() {
    text-shadow: 1px 1px 1px #000;
    filter: dropshadow(color=#000, offx=1, offy=1);
}

.opacity() {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    background: #eee;
    color: #333;
    font-family: verdana, arial, sans-serif;
}

h1, p {
    padding: 5px 0;
}

.btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-size:15px;
    font-weight:normal;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #528ecc;
}
.btn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
}
.btn:active {
    position:relative;
    top:1px;
}

.wrap {
    width: 80%;
    max-width: @wrap-width;
    margin: 0 auto;
    padding: 10px 0;
}

#header {
    width: 100%;
    color: #ffffff;
    background: #5da7d1;
    font-size: 1.5em;
    .text-shadow;
}

#nav {
    ul {
        li {
            float: left;
            margin: 0 10px 0 0;
            padding: 10px 0;
        }
        overflow: hidden;
    }
}

input {
    padding: 10px;
    font-size: inherit;
}
input#minOccurrence {
    width: 105px;
    text-align: right;
}

.close {
    span {
        display: none;
    }
    position: absolute;
    width: 24px;
    height: 24px;
    background: url("../img/close.png") no-repeat;
    cursor: pointer;
    top: 2px;
    right: 2px;
}

#tweets {
    background: #ffffff;
    @width: (48px * 10);
    @padding: 20px;
    @size: (@width + (@padding * 2));
    width: @width;
    height: @width;
    padding: @padding;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -(@size / 2) 0 0 -(@size / 2);
    z-index: 2;
    .radius(5px);
    .box-shadow;

    .list {
        div {
            a {
                img {
                    width: 100%;
                    height: 100%;
                    opacity: 0.5;
                    filter:alpha(opacity=50);
                    background: url("../img/bird.png") no-repeat center center;
                    .radius(50%);
                }
                display: block;
                width: 48px;
                height: 48px;
                .radius(50%);
            }
            a.active {
                width: 44px;
                height: 44px;
                border: 2px solid #ef3338 !important;
            }
            a.watching {
                width: 44px;
                height: 44px;
                border: 2px solid #ef8d3d;
            }
            a.active img,
            a.watching img {
                opacity: 1 !important;
                filter:alpha(opacity=100) !important;
            }
            width: 48px;
            height: 48px;
            float: left;
        }
        overflow: hidden;
    }
}

#map {
    background: #ffffff;
    @width: 1000px;
    @padding: 20px;
    width: @width;
    height: (@width * 0.7);
    padding: @padding;
    position: absolute;
    top: 80px;
    left: 50%;
    @marginLeft: (@width + (@padding * 2));
    margin-left: -(@marginLeft / 2);
    z-index: 2;
    .radius(5px);
    .box-shadow;

    #map-canvas {
        width: 100%;
        height: 100%;
    }

    .map-point {
        @size: 2px;
        position: absolute;
        width: @size;
        height: @size;

        .circle {
            position: relative;
            width: 0px;
            height: 0px;
            top: 25px;
            left: 25px;
            -webkit-transition-duration: 500ms;
            -webkit-transition-property: all;
            -webkit-transition-timing-function: ease-in-out;
            text-align: center;
            background: #ef3338;
            color: white;
            border-radius: 100%;
            padding: @size;
            overflow: hidden;

            font-family: sans-serif;  /* Just 'cos */
        }

        &.open .circle {
            top: 0px;
            left: 0px;
            width: 50px;
            height: 50px;
            .opacity();
        }
    }
}